* {
  box-sizing: border-box;
}
body {
  font-family: Arial, tahoma, sans-serif;
}

.controls-buttons {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background-color: #00748096;
}
.controls-buttons span {
  position: absolute;
  left: 44%;
  top: 50%;
  transform: translate(-50, -50);
  color: #fff;
  background-color: #f44336;
  padding: 15px;
  font-size: 31.6px;
  text-align: center;
  border-radius: 10px;
  cursor: pointer;
}

.info-container {
  width: 1080px;
  margin: 10px auto 0;
  border-radius: 10px;
  background-color: #19c1ebf2;
  padding: 10px;
  font-size: 24px;
  font-family: Serif;
  font-weight: bold;
  font-style: italic;
  overflow: hidden;
}
.info-container .name {
  color: #4f4bff;
  float: left;
  width: 50%;
}
.info-container .tries {
  color: rgb(216 0 78);
  float: right;
  width: 50%;
  text-align: right;
}
.memory-game-blocks {
  display: flex;
  width: 1100px;
  flex-wrap: wrap;
  margin: 20px auto;
}
.memory-game-blocks .game-block {
  height: 200px;
  transition: transform 0.5s;
  transform-style: preserve-3d;
  cursor: pointer;
  position: relative;
  flex: 1 0 200px;
  margin: 0 10px 20px;
}
.memory-game-blocks .game-block .front {
  background-color: #333;
  line-height: 200px;
}
.memory-game-blocks .game-block .front::before {
  content: "!";
  color: white;
  font-size: 140px;
  font-weight: bold;
}
.memory-game-blocks .game-block .back {
  background-color: #607d88;
  transform: rotateY(180deg);
}
.memory-game-blocks .game-block .back img {
  width: 140px;
  height: 140px;
  margin-top: 30px;
}
.memory-game-blocks .game-block .face {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  backface-visibility: hidden;
  border: 4px solid rgb(1, 225, 255);
}
.memory-game-blocks .game-block.is-flipped,
.memory-game-blocks .game-block.has-match {
  transform: rotateY(180deg);
}
.memory-game-blocks.no-clicking{
  pointer-events: none;
}

